
        * {
            text-align: center;
            align-items: center;
            padding: 0;
            background-color: rgb(239, 191, 245);
            justify-content: center;
            background-size: cover;
            background-position: center;
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            
        }

        h3 {
            height: 50%;
            font-weight: 400;
            font-style: normal;
            color: black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
        
        button {
            border-radius: 20px;
            height: 50px;
            width: 110px;
            font-size: 20px;
            margin: 10px;
            background-image: url(textura.jpg);
            color: white;
        }


           .nao {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);

    }
    .vou {
        position: absolute;
        top: 50%;
        left: 68%;
        transform: translate(-50%, -50%);
    }

    .paraRafa {
        background-image: none;
        background-color: grey;
        color: #fff;
        border: none;
        border-radius: 20px;
        height: 20px;
        width: 60px;
        font-size: 8px;
        margin: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        position: absolute;
        top: 10px;
        right: 10px;
    }
